body{
    font-family: 'Poppins', sans-serif;
    margin-left: 10%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.top-banner{
    display: flex;
}
.top-banner img{
    width: 80%;
}
.half-width{
    margin-right: 10%;
}
#top-header{
    border-left: 5px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
    padding-left: 10px;
}
.button-link{
    text-decoration: none;
    background-image: linear-gradient(salmon,tomato);
    font-weight: 700px;
    color: white;
    padding: 5px 20px;
}
#center-align{
    text-align: center;
}
.my-mission-2020{
    display: flex;
}
.my-mission-2020 img{
    width: 100%;
    
}
.mission-commit{
    border-radius: 20px;
    padding: 5%; 
   background-color: antiquewhite;
    margin-bottom: 20%;
    margin-right: 5%;
}
.vission-commit{
    background-color: aliceblue;
    padding: 5%;
    border-radius: 20px;
    margin-bottom: 20%;
    margin-right: 5%;
}
.goals-commit{
    background-color: bisque;
    padding: 5%;
    margin-bottom: 20%;
    margin-right: 5%;
    border-radius: 20px;
}
.develop-with-limits{
    display: flex;
}
.develop-with-limits img{
    width: 80%;
}